@charset "utf-8";
/*
AbanteCart storefront main CSS style.css

Developers: Pavel Rojkov (projkov@abantecart.com)

AbanteCart brand color styles: #064770 (dark blue) #F19013 (Orange)

*/

/* CSS Document */
/* ------------ Reset ------------ */
body {
	color: #333;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

a {
	color: #00A1CB;
	text-decoration: none
}

a:hover {
	text-decoration: none;
	color: #d8420e
}

h1, h2, h3, h4, h5 {
	font-weight: normal
}

ul, ul li {
	list-style: none
}

ul {
    padding: 0;
}

.heading1 {
	margin: 10px 0 20px 0;
	border-bottom: 1px solid #efefef;
	font-size: 34px;
	text-transform: uppercase;
}

.heading2 {
	font-size: 22px;
	color: #00a1cb;
	font-weight: normal;
	padding: 0;
	font-family: inherit;
	text-transform: uppercase;
}

.heading1 .subtext {
	font-size: 16px;
	color: #96979d;
	text-transform: none;
	font-weight: normal;
	padding: 0;
}

.heading1 .maintext {
	font-size: 24px;
	color: #5e626b;
	padding: 0 14px 4px 0;
	font-family: inherit;
}

.hidden {
	display: none;
}

.heading1 .subtext img {
	padding-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: normal
}

h2 {
	font-size: 24px
}

form {
	margin: 0;
}

.mt0 {
	margin-top: 0 !important
}

.mb0 {
	margin-bottom: 0 !important
}

.mt40 {
	margin-top: 40px !important
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt20 {
	margin-top: 20px
}

.mt60 {
	margin-top: 60px !important
}

.mr10 {
	margin-right: 10px
}

.mr20 {
	margin-right: 20px
}

.ml10 {
	margin-left: 10px
}

.ml20 {
	margin-left: 20px
}

.mb10 {
	margin-bottom: 10px
}

.mb20 {
	margin-bottom: 20px
}

.mb40 {
	margin-bottom: 40px
}

.ct_padding_right {
	padding-right: 20px;
}

.ct_padding_left {
	padding-left: 20px;
}

.margin-none {
	margin: 0
}

.clear {
	clear: both
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.displayblock {
	display: block
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.valign_middle {
    vertical-align: middle;
}

.valign_top {
    vertical-align: top;
}

.valign_bottom {
    vertical-align: bottom;
}

.red, .required {
	color: #F00
}

.orange {
	color: #00A1CB
}

.gray_separator {
	border-bottom: 1px solid #dedede;
	height: 0;
	margin: 10px 0;
}

.footerlinks ul li a, .footerlinks ul li a:hover, .thumbnail .shortlinks a, .thumbnail .shortlinks a:hover, .flex-control-paging li a, .flex-control-paging li a:hover, ul.categorymenu > li > a, ul.categorymenu > li > a:hover, .dropdown-menu li > a, .dropdown-menu li > a:hover, ul.categorymenu > li > div > ul > li > a, ul.categorymenu > li > div > ul > li > a:hover, #topnav ul li a, #topnav ul li a:hover, #customernav ul li a, #customernav ul li a:hover, .thumbnail a.productcart, .thumbnail a:hover.productcart, input, input:focus, select, select:focus, textarea, textarea:focus {
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease
}

#categorymenu, .breadcrumb, .jumbotron, .well{
	background-color: #f5f5f5;
	border: 1px solid #d7d8da;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025) inset;
}

.container-fixed {
  margin: 0 auto;
}
.container-fixed > hr {
  margin: 30px 0;
}

#maincontainer {
	padding: 0;
	margin: 0;
}

#maincontainer.container-fluid {
	padding: 0;
	margin: 0;
}

.contentpanel {
	padding: 10px;
}

#featured, #latest, #related, #popularbrands, #newslettersignup {
	margin: 0 auto 0 auto;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
	color: #e41918;
}

section.row {
	margin: 0;
}

#shippings>option {
	width: inherit;
}

/* ------------ Header ------------ */
.headerstrip {
	height: 72px;
	background-color: #00a1cb;
}
.nav_expand {
	position: absolute;
	top: 10px;
	right: 10px
}

.header-logo {
	background-color: #fff;
	text-align: center;
	line-height: 72px;
	max-width: 300px;
	max-height: 72px;
}
.header-logo img {
	max-width: 100%;
	max-height: 100%;
}

#topnav select {
	display: none
}

#topnav .navbar-inner, #customernav .navbar-inner  {
	background: none;
	border: none;
	box-shadow: none;
	filter: none;
}

#topnav ul, #customernav ul {
	padding: 6px 10px 0 10px;
}

#topnav ul li, #customernav ul li {
	padding: 5px 0;
}

#topnav ul li a {
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 0 0 5px;
	margin-right: 10px;
	background: none;
}
#topnav ul li a:hover {
	background: none;
}

#topnav ul.dropdown-menu li a {
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

#customernav .dropdown-menu {
	min-width: 225px;
}

#customernav ul li a {
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px;
	padding: 0 0 0 10px;
	margin-right: 10px;
	background: none;
}

#customernav ul.dropdown-menu li a {
	color: #999;
}

#topnav ul.dropdown-menu li a span, #customernav ul.dropdown-menu li a span {
	padding: 0 10px 0 10px;
}

.menu_image  {
	padding-right: 6px;
}

#topnav ul li a.menu_home,  #topnav .nobackground{
	background-position: 0 0;
	background: none;
}
#topnav .nobackground, #main_menu_bottom .nobackground {
	padding: 0 0 0 10px;
	margin-right: 10px;
}

#topnav ul li a:hover.menu_home, #topnav ul li a.active.menu_home {
	background-position: 0 -31px
}

.top-search input {
	width: 230px;
	border: 1px solid #d7d8da;
	border-radius: 1px;
	padding: 9px;
	float: left;
	vertical-align: middle;
}

ul#search-category{
	margin: 0;
}

.search-bar .button-in-search {
	float: left;
	margin-top: 2px;
	margin-left: -32px;
	font-size: 24px;
}

.button-in-search {
	cursor: hand;
	cursor: pointer;
}

.top-search .submenu.dropdown-menu {
	left: 0%;
	top: 50px;
}

.headerstrip_blocks {
	margin-top: 14px;
}

.headerdetails ul.nav {
	margin-bottom: 0;
}

li.dropdown {
	list-style: none
}

/* Top block positioning */
.headerstrip_blocks .block_1 {
	float: left;
	margin-left: 10px;
}
.headerstrip_blocks .block_2 {
	float: left;
}
.headerstrip_blocks .block_3 {
	float: left;
}
.headerstrip_blocks .block_4 {
	float: right;
}
.headerdetails .block_5 {
	float: left;
}
.headerdetails .block_6 {
	float: left;
}
.headerdetails .block_7 {
	float: left;
}
.headerdetails .block_8 {
	float: right;
}


/* ------------  Top Cart ------------ */
.headerdetails #main-nav ul > li.topcart {
	background: #fff;
	height: 45px
}

.headerdetails #main-nav ul > li.topcart a {
	color: #999;
	font-size: 14px
}

.headerdetails .navbar .nav li.topcart .dropdown-toggle .caret, .navbar .nav li.dropdown.open.topcart .caret {
	border-bottom-color: #999;
	border-top-color: #999;
}

.headerdetails ul.topcartopen {
	font-size: 11px;
	width: 270px;
}

.headerdetails ul.topcartopen li > table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
	padding: 5px
}

.headerdetails ul.topcartopen li > table td {
	vertical-align: top;
	padding: 1px 5px 1px 5px;
	border-bottom: 1px dashed #E7E7E7;
}

.headerdetails ul.topcartopen li > table .image {
	width: 1px;
}

.headerdetails ul.topcartopen li > table .image img {
	text-align: left;
}

.headerdetails ul.topcartopen li > table .name small {
	color: #999;
}

.headerdetails ul.topcartopen li > table .quantity {
	text-align: right;
}

.headerdetails ul.topcartopen li > table td.total {
	text-align: right;
}

.headerdetails ul.topcartopen li > table .remove {
	text-align: right;
}

.headerdetails ul.topcartopen li > table .remove img {
	cursor: pointer;
}

.headerdetails #header #cart .mini-cart-total > table {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}

.headerdetails ul.topcartopen li > table a {
	padding: 0;
}

.headerdetails .shoppingcarttop {
	position: absolute;
	top: 0;
	right: 250px
}

.headerdetails nav.subnav select {
	display: none;
}

.headerdetails ul.nav.language li.dropdown, .headerstrip ul.nav.language li.dropdown {
	border: 1px solid #d7d8da;
	display: inline-block;
	margin-right: 15px;
	text-transform: uppercase;
	background-color: #ffffff;
}

.headerdetails ul.nav.topcart li.dropdown, .headerstrip ul.nav.topcart li.dropdown {
	border: 1px solid #d7d8da;
	display: inline-block;
	margin-right: 15px;
	text-transform: uppercase;
	background-color: #ffffff;
}

.headerdetails .topcart .icon-shopping-cart {
	font-size: 16px;
}

#top_cart_product_list .empty_cart {
	padding: 15px;
	font-size: 36px;
	color: #ccc;
}
#top_cart_product_list table td.image, #top_cart_product_list table td.image img {
	width: 50px;
	padding: 3px;
}
#top_cart_product_list table td.name {
	padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 115px;
}

#top_cart_product_list table td.total {
	color: #00A1CB;
}

#top_cart_product_list .totals {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#top_cart_product_list .totals td {
	text-align: right;
	width: 50%;
}

/* Uncoment if you want to set view limit wiht scroll to products in the cart dropdown
#top_cart_product_list .products {
	overflow: auto;
	height: 300px;
}
*/

/* ------------ Main Menu ------------ */
.main_menu .dropdown .menu_text {
	padding-left: 5px;
}
.main_menu .dropdown.open a, .main_menu .dropdown.current a,
#main_menu .dropdown a:hover, #main_menu .dropdown.current a,
#customernav .dropdown a:hover, #customernav .dropdown.current a {
	background: #00A1CB;
	color: #fff;
}
#customernav div.menu_text, #customernav ul li a{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 250px;
}

.main_menu .dropdown-menu {
	white-space: normal;
	padding: 10px;
	position: absolute;
	top: 97%;
	left: 10px;
}

/* ------------ Category Menu ------------ */
#categorymenu {
	padding: 7px 0 7px 0;
	background: #F5F5F5;
}

#categorymenu:after {
	clear: both;
	content: ""
}

#categorymenu select {
	display: none
}

ul.categorymenu {
	margin: 0 6px 0 6px;
	display: table;
    table-layout: fixed;
}

ul.categorymenu > li {
	position: relative;
	margin: 0;
	border-right: 1px solid #CCCCCC;
	display: table-cell;
}

ul.categorymenu > li:last-child {
	border: none
}

ul.categorymenu > li > a {
	text-decoration: none;
	display: block;
	z-index: 6;
	position: relative;
	color: #4b5b58 !important;
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px 10px 5px 5px;
}

ul.categorymenu > li:hover > a,
ul.categorymenu > li > a.active,
ul.categorymenu > li.current > a {
	color: #fff !important;
	text-shadow: none;
	background-color: #00A1CB;
	padding: 5px 10px 5px 5px;
}

ul.categorymenu > li > div {
	display: none;
	padding: 15px;
	position: absolute;
	top: 97%;
	left: 7px;
	z-index: 99999;
	display: none;
	float: left;
	min-width: 180px;
	margin: 1px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #d7d8da;
	border-bottom: 4px solid #00A1CB;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.categorymenu li a.menu_home {
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background: transparent url(../image/sprite.png) no-repeat;
	padding-left: 30px !important;
	margin-right: 22px
}

.categorymenu li a.menu_home {
	background-position: 5px 4px;
}

.categorymenu li a:hover.menu_home {
	background-position: 5px -27px;
}

.dropdown-menu {
	white-space: normal;
	padding: 10px;
	position: absolute;
	top: 97%;
	left: 7px;
	z-index: 99999;
	display: none;
	float: left;
	min-width: 230px;
	margin: 1px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #d7d8da;
	border-bottom: 4px solid #00A1CB;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.dropdown-menu > li > a {
	white-space: normal;
}

ul.categorymenu > li:hover > div {
	display: table;
	width: 100%;
	vertical-align: top;
}

ul.categorymenu > li > div > ul {
	display: table-cell;
	vertical-align: top;
}

ul.categorymenu > li ul + ul {
	padding-left: 10px;
}

ul.categorymenu > li ul > li {
	display: block;
	float: left;
	width: 100%;
	border-bottom: 1px dashed #d7d8da;
}

ul.categorymenu > li > div > ul.arrow li a {
	padding: 8px 8px 8px 8px;
	display: block;
}

ul.categorymenu > li ul > li > a {
	text-decoration: none;
	display: block;
	white-space: normal;
	min-width: 180px;
	padding: 8px 8px 8px 5px;
}

ul.categorymenu > li > div > ul li:hover a,
ul.categorymenu > li > div > ul li.current > a {
	background-color: #00A1CB;
	color: #fff;
	text-shadow: none;
}

ul.categorymenu > li ul > li img {
	margin: 3px;
	max-width: none
}

.breadcrumb {
	margin-bottom: 10px
}
.breadcrumb-separator {
	padding: 0 5px 0 5px;
}
.breadcrumb > li + li::before {
    color: #ccc;
	font-family: FontAwesome;
	content: "\f101";
    padding: 0 5px;
}

/* ------------ Promo Section ------------ */
.promo_section {
	padding: 10px 0 25px 0;
	border: 1px solid #d7d8da;
	margin: 0 auto 10px auto;
	width: auto;
	color: #4b5b58;
}
.promo_block {
    overflow: hidden;
}
.promo_block .promo_icon {
    float: left;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    font-size: 60px;
    padding: 10px 10px 0 0;
}
.promo_block .promo_text {
}

/* ------------ banners ------------ */
.banner_fallback {
	display: none;
}

.smbanner {
	margin: 20px auto 0 auto;
	width: auto;
}

.smbanner .span3 a {
	display: block;
	border: 1px solid #d7d8da;
	margin-bottom: 10px;
	overflow: hidden;
}

.block_frame_banner_block{
	clear: both;
}

.banner_block_23_11 .container-fluid{
	text-align: center;
}

/* ------------ newsletter ------------ */
#newslettersignup .pull-right {
	margin-top: 15px
}

#newslettersignup .newsletter {
	padding: 0 0 0 80px;
	height: 100px;
}
#newslettersignup .newsletter {
    position:relative;
}
#newslettersignup .newsletter:before {
	position:absolute;
	font-family: FontAwesome;
	top: -15px;
	left: 5px;
	font-size: 60px;
	content: "\f003";
}

#newslettersignup .newsletter h2 {
	font-size: 20px;
	color: #5e626b;
	line-height: normal;
	margin: 0
}

.addresses>section{
	display: inline-block;
}


/* ------------ Featured Products ------------ */
#categorymenu {
	margin: 20px 0 20px 0;
	clear: both;
}

#featured:after, #latest:after, #related:after, #category:after, #popularbrands:after, #newslettersignup .container-fluid:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

#right_column.row {
	clear: none !important;
}

.fixed_wrapper {
	overflow: hidden;
	height: 43px;
}

.fixed {
	height: 50px;
	margin: 0 -15px 0 0;
	overflow: auto;
}

.list-inline > div {
  padding-right: 5px;
  padding-left: 5px;
}

.thumbnails .prdocutname {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 10px 0;
	display: block;
	padding-right: 17px;
}

.thumbnails.list .thumbnail .prdocutname {
	font-size: 16px;
	color: #5e626b;
	text-transform: uppercase;
	text-align: left;
	margin: 0 0 10px 0;
	display: block
}

.thumbnail .blurb {
	max-height: 60px;
	overflow: auto;
	text-overflow: ellipsis;
}

.thumbnails.list > li {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc
}

.thumbnails.list .productdiscrption {
	margin: 10px 0 25px 0;
	text-align: left;
}

.thumbnails.list .thumbnail .shortlinks {
	display: block;
	width: auto;
	position: static;
	text-align: left;
}
.thumbnails.list .thumbnail div.row {
	padding-left: 30px;
}

.thumbnails.list .pricetag {
	margin-left: -15px
}

.thumbnail .offer {
	position: absolute;
	top: 10px;
	left: -2px;
	background: url(../image/offer.png) no-repeat 0 0;
	height: 45px;
	width: 68px;
	float: left;
	overflow: hidden;
	display: block;
	text-indent: 9999px
}

.thumbnail .sale {
	position: absolute;
	top: 10px;
	left: -2px;
	background: url(../image/sale.png) no-repeat 0 0;
	height: 45px;
	width: 68px;
	float: left;
	overflow: hidden;
	display: block;
	text-indent: 9999px
}

.thumbnail .new {
	position: absolute;
	top: 10px;
	left: -2px;
	background: url(../image/new.png) no-repeat 0 0;
	height: 45px;
	width: 68px;
	float: left;
	overflow: hidden;
	display: block;
	text-indent: 9999px
}

.thumbnail .pricetag {
	margin: 8px 0 20px 0;
	position: relative;
	padding: 5px;
	height: 45px;
}
.list .thumbnail .pricetag {
	width: 255px;
}
.list .thumbnail .pricetag_wide {
	width: 350px;
}
.added_to_cart {
	background-color: #dff0d8 !important;
	border-color: #37891b !important;
	border-radius: 1px !important;
	color: #3c763d !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025) inset !important;
}
.added_to_cart .quick_basket{
	color: #37891b;
	font-size: 20px;
	position: absolute;
	left: 10px;
	top: 8px;
}

.thumbnail a.productcart {
	background: #00A1CB;
	color: #fff;
	float: right;
	padding: 5px;
	font-size: 13px;
	text-transform: uppercase;
    position:relative;
}
.thumbnail a.productcart i {
	font-size: 22px;
}

.thumbnail .nostock {
	background: #ccc;
	color: #fff;
	float: right;
	padding: 8px;
	font-size: 13px;
	text-transform: uppercase;
}

.thumbnail a.productcart:hover {
	background: #d8420e;
}

.thumbnail a.call_to_order, .productpageprice a.call_to_order {
	background: #00A1CB;
	color: #fff;
	padding: 8px;
	font-size: 13px;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	text-shadow: none;
	float: right;
	margin: 5px 10px;
}
.thumbnail a.call_to_order {
	text-align: right;
	margin:0;
}
.thumbnail a.call_to_order i {
	font-size: 18px;
}
ul.productpagecart a.call_to_order{
	background-image: none;
	padding: 15px;
	text-decoration: none;
}
ul.productpagecart .nostock {
	background: #ccc;
	color: #fff;
	padding: 8px;
	font-size: 16px;
}

.thumbnails>li.span3 {
	min-width: 270px;
}

.thumbnail .shortlinks {
	background: #fff;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	display: none
}

.thumbnail .shortlinks a {
	padding: 5px 5px 0 25px;
	background: url(../image/sprite.png) 0 0 no-repeat;
}

.thumbnail .shortlinks a.details {
	background-position: 0 -384px
}

.thumbnail .shortlinks a.compare {
	background-position: 0 -462px;
}

a.compare>img{
	display: inline;
}

.thumbnail .price .oneprice {
	line-height: 35px;
	vertical-align: middle;
	font-size: 12px;
	color: #5e626b;
	font-weight: bold;
}

.thumbnail .price .pricenew {
	font-size: 12px;
	color: #5e626b;
	font-weight: bold;
}

.thumbnail .price .priceold {
	font-size: 10px;
	text-decoration: line-through;
	color: #96979d;
}

.side_prd_list .price .priceold {
	font-size: 12px;
	text-decoration: line-through;
	color: #96979d;
}

.side_prd_list.category>li {
	clear: both;
	display: inline-block;
	overflow: hidden !important;
	font-size: 12px;
}

.side_prd_list.manufacturer>li {
	clear: both;
	display: block;
	overflow: hidden !important;
	font-size: 12px;
}
.thumbnail_small {
	width: 60px;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}

#featured .thumbnails li:hover .thumbnail img,
#latest .thumbnails li:hover .thumbnail img,
#bestseller .thumbnails li:hover .thumbnail img,
#special .thumbnails li:hover .thumbnail img,
#related .thumbnails li:hover .thumbnail img,
#category .thumbnails li:hover .thumbnail img,
.thumbnails.list li:hover .thumbnail img {
	transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2); /* IE 9 */
	-webkit-transform: scale(1.2, 1.2); /* Safari and Chrome */
	-o-transform: scale(1.2, 1.2); /* Opera */
	-moz-transform: scale(1.2, 1.2); /* Firefox */
	transition: all 0.8s;
	-ms-transition: all 0.8s; /* IE 9 */
	-moz-transition: all 0.8s; /* Firefox 4 */
	-webkit-transition: all 0.8s; /* Safari and Chrome */
	-o-transition: all 0.8s; /* Opera */
}

#featured .thumbnails li .thumbnail,
#latest .thumbnails li .thumbnail,
#special .thumbnails li .thumbnail,
#bestseller .thumbnails li .thumbnail,
#related .thumbnails li .thumbnail,
#category .thumbnails li .thumbnail,
.thumbnails.list li .thumbnail {
	overflow: hidden;
}

#featured .thumbnails li .thumbnail img,
#latest .thumbnails li .thumbnail img,
#special .thumbnails li .thumbnail img,
#bestseller .thumbnails li .thumbnail img,
#related .thumbnails li .thumbnail img,
#category .thumbnails li .thumbnail img,
.thumbnails.list li .thumbnail img {
	transition: all 0.8s;
	-ms-transition: all 0.8s; /* IE 9 */
	-moz-transition: all 0.8s; /* Firefox 4 */
	-webkit-transition: all 0.8s; /* Safari and Chrome */
	-o-transition: all 0.8s; /* Opera */
}

.thumbnails.list li:hover .thumbnail img {
	transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	-o-transform: none !important; /* Opera */
	-moz-transform: none !important;
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}

/*Brand*/
#popularbrands {
	position: relative;
	padding: 0 0 20px 0;
	width: auto;
}

#popularbrands .container-fluid {
	position: relative;
	width: auto;
}

.brandcarousalrelative {
	position: relative;
}

#popularbrands ul#brandcarousal {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	width: auto;
}

#popularbrands  ul#brandcarousal li {
	text-align: center;
	border: 1px solid #d7d8da;
	padding: 10px 5px;
	margin: 6px;
	display: block;
	float: left;
}

#popularbrands.responsive {
	width: auto;
	margin-left: 0;
}

#popularbrands img.internal {
	height: 56px;
}
#popularbrands .image>a {
	height: 56px;
	display: block;
}

.clearfix, .clr_both {
	float: none;
	clear: both;
}

#popularbrands ul#brandcarousal  .prev {
	float: left;
	margin-left: 10px;
}

#popularbrands ul#brandcarousal  .next {
	float: right;
	margin-right: 10px;
}

#popularbrands ul#brandcarousal  .pager {
	float: left;
	width: 300px;
	text-align: center;
}

#popularbrands ul#brandcarousal  .pager a {
	margin: 0 5px;
	text-decoration: none;
}

#popularbrands ul#brandcarousal  .pager a.selected {
	text-decoration: underline;
}

#popularbrands ul#brandcarousal  .timer {
	background-color: #999;
	height: 6px;
	width: 0;
}

#popularbrands #prev {
	background: url(../image/carousalarrow.png) no-repeat scroll 8px center #00A1CB;
	position: absolute;
	font-size: 24px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	height: 25px;
	width: 25px;
	left: 0;
	top: 30px
}

#popularbrands #next {
	background: url(../image/carousalarrow.png) no-repeat scroll -18px center #00A1CB;
	position: absolute;
	font-size: 24px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	height: 25px;
	width: 25px;
	right: 0;
	top: 30px
}

.timer {
	background-color: #999;
	height: 6px;
	width: 0;
}

#musthave {
	width: 300px !important;
}

/*Producct page*/
h1.pagetitle {
	background: #f9f9f9;
	padding: 10px;
	font-size: 24px;
	margin: 0 0 40px 0;
	color: #00a1cb;
}
.mainimage.bigimage .fa {
	position: absolute;
    top: 10px;
    right: 10px;
	z-index: 999;
	color: #96979d;
	font-size: 16px;
}
.thumbnails.mainimage.smallimage {
	padding-top: 10px;
}
.thumbnails.mainimage.smallimage .thumbnail {
	margin-bottom: 5px;
	cursor: pointer;
}

/**
 * EasyZoom core styles
 */
.easyzoom {
	position: relative;
	/* 'Shrink-wrap' the element */
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.easyzoom img {
	vertical-align: bottom;
}
a.local_image {
	min-width: 340px;
	display: inline-block;
	min-height: 340px;
}
.easyzoom.is-loading img {
	cursor: progress;
}
.easyzoom.is-ready img {
	cursor: crosshair;
}
.easyzoom.is-error  img {
	cursor: not-allowed;
}
.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}
.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
	border: 2px solid #ccc;
}
.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}
/**
 * EasyZoom end
 */

ul.productinfo {
	margin: 0;
	padding: 0;
	list-style: none
}

ul.productinfo li {
	padding: 5px 0;
	list-style: none;
	display: block
}

ul.productinfo li .productinfoleft {
	width: 160px;
	float: left;
	font-weight: bold
}

.productformbutton {
	border-bottom: 1px solid #E7E7E7;
	width: 100%;
	float: left;
	display: block;
	padding-bottom: 25px
}

.form-horizontal.productform .control-label {
	text-align: left !important;
}

.form-horizontal .align_left .control-label {
	text-align: left;
}

.form-control::-moz-placeholder{
	color:#ccc;
	opacity:1;
}
.form-control:-ms-input-placeholder{
	color:#ccc;
}
.form-control::-webkit-input-placeholder{
	color:#ccc;
}

.productaddtocart {
	margin: 10px 10px 10px 160px;
	float: left !important
}

.rating {
	margin: 25px 30px 40px 0;
	border-top: 1px solid #E7E7E7;
	border-radius: 4px 4px 4px 4px;
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #E7E7E7;
}

.options {
	margin: 5px 0 12px 0
}

ul.rate {
	margin: 0
}

ul.rate li {
	height: 20px;
	width: 20px;
	background: url(../image/rate.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-right: 5px
}

ul.rate li.on {
	background-position: left top
}

ul.rate li.off {
	background-position: left -24px
}

.mainimage li.producthtumb {
	display: inline-block;
	margin-left: 25px;
}

.mainimage li.producthtumb img {
	cursor: pointer;
}

.total-price-holder {
	display: none;
	visibility: hidden;
}

.total-price {
	font-size: 18px;
	color: #00A1CB;
}

.productprice .price {
	height: 28px;
	line-height: 28px;
	margin: 11px auto 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	color: #00a1cb;
	width: 80px
}

.productprice .rate {
	margin: 25px 0 0 0
}

.productprice {
	margin: 0 0 0 0;
	clear: both
}

.productpageprice {
	position: relative;
	padding: 9px 0 9px 20px;
	margin: 40px 0 10px 0;
	font-size: 26px;
	text-align: center;
	line-height: 44px;
	color: #333;
}

.productfilneprice{
	display: inline-block;
}

.productpageoldprice {
	font-size: 16px;
	text-decoration: line-through;;
	margin-left: 5px;
}
.productpricesmall {
	font-size: 16px;
	margin-left: 0
}

ul.productpagecart {
	margin-top: 20px;
	margin-left: 0;
	display: inline-block;
}
ul.productpagecart li {
	display: inline-block;
	margin-right: 10px;
	height: 45px
}
.productpagecart a {
	background: #00A1CB;
	color: #fff;
	padding: 15px;
	font-size: 20px;
    position:relative;
}

.productpagecart li a.cart {
	background-position: 10px 12px;
}

.productpagecart li a.wish {
	background-position: 10px -51px;
}

.productpagecart li a.comare {
	background-position: 10px -126px;
}

.productpagecart li a:hover {
	background-color: #0e5f86
}

.selectsize {
	width: 170px;
	float: left;
	margin-right: 10px
}

.selectqty {
	width: 100px;
	float: left;
	margin-right: 10px
}

.quantitybox {
	background: #fff;
	border: 0;
	padding: 15px 15px 8px 0;
	display: block;
	margin: 10px 0 10px 0;
}

.quantitybox:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

h1.productname {
	color: #00a1cb;
	font-size: 24px;
	margin: 0 0 20px 0;
	background: none;
}

.nav-tabs {
	margin: 0;
}

.productdesc {
	margin: 22px 0 0 0
}

.productdesc .nav-tabs li a {
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	color: #999;
}

.productdesc .nav-tabs li a:hover {
	color: #333;
}

.productdesc .nav-tabs li.active a {
	color: #000;
}

.productdesc #myTab.nav-tabs li a {
	margin: 0 !important;
}

#product_details, .productdesc {
	clear: both;
}

#product_details>.container-fluid {
	width: auto;
}

#product_details fieldset .checkbox>input {
	margin-left: 0;
	position: relative;
}

#description ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#description ul li {
	list-style: inside;
}
#description .marker {
    background-color: Yellow;
}

.tab-content {
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 3px 3px 3px 3px;
	border-top: none;
	padding: 15px
}

.tab-content div.content div.form-group {
	clear: both;
}

ul.reveiw {
	margin: 0;
	padding: 0
}

ul.reveiw > li {
	border-bottom: 1px solid #E7E7E7;
	margin-bottom: 22px;
	padding: 5px 0 10px 0
}

ul.reveiw li {
	list-style: none
}

ul.reveiw li .title {
	font-size: 20px;
}

ul.reveiw li .date {
	float: right;
	font-size: 14px;
}

ul.reveiw ul.rate {
	margin: 10px 0
}

#ContactUsFrm button {
	margin-top: 10px;
}

#musthave {
	margin: 0;
}

/* cart */
.cart-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	background-color: #fff;
	margin-bottom: 0;
}

.cart-info.product-list > table {
	margin-bottom: 20px;
}

.cart-info.totals > table {
	margin-bottom: 20px;
}

.cart-info table tr {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.cart-info table tr:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.cart-info td, .cart-info th {
	padding: 15px;
	vertical-align: middle;
}

.cart-info th {
	padding: 10px
}

.cart-info th {
	font-weight: bold;
	background-color: #eeeeee;
	border-bottom: 1px solid #E7E7E7;
}

.cart-info th.quantity, .cart-info td.quantity {
	text-align: left;
}

.cart-info th .price, .cart-info th .total, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}

.cart-info th .quantity a {
	margin-top: -5px
}

.cart-info tbody td {
	vertical-align: middle !important;
	border-bottom: 1px solid #E7E7E7;
}

.cart-info tbody .remove {
	vertical-align: middle;
}

.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}

.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}

.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}

/* cart block */
.block_frame_cart .image img {
	width: 50px;
}

.block_frame_cart .total {
	color: #00A1CB;
}

.block_frame_cart .totals.pull-right td:nth-child(2) {
	text-align: right;
}

.block_frame_cart  td.total {
	width: 13%;
}

div.cart-info.coupon-estimate {
	margin-bottom: 20px;
	border:none;
}

.cart-info .coupon {
	width: 64%;
	min-width: 27px;
	border: 1px solid #E7E7E7;
	margin-right: -1px;
}

.cart-info .coupon>table,
.cart-info .coupon>table th,
.cart-info .estimate>table,
.cart-info .estimate>table th{
	border: none !important;
}

.cart-info .coupon tbody td, .cart-info .estimate tbody td {
	vertical-align: top;
	border-bottom: none;
}

.cart-info .estimate {
	width: 35%;
	min-width: 276px;
	border: 1px solid #E7E7E7;
	float:left;
}

.container-fluid.cart_total {
	width: auto;
}

.cart-total {
	border-top: 1px solid #E7E7E7;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}

.cart-total table {
	float: right;
}

.cart-total td {
	padding: 3px;
	text-align: right;
}

.cartoptionbox {
	background: #fff;
	padding: 15px;
	border: 1px solid #d7d8da;
	margin-bottom: 40px
}

ul.total {
	font-size: 16px;
	margin-top: 5px;
	margin-right: 10px
}

ul.total li {
	padding: 10px 0
}

ul.total li span.extra {
	width: 150px;
	float: left;
	text-align: right;
	padding-right: 20px
}

.totalamout {
	font-size: 22px;
	color: #00A1CB
}

/* login */
.loginbox {
	padding: 5px;
}

/* generic div block */
.genericbox {
	padding: 10px 15px 15px 15px;
	margin-bottom: 10px
}

.border-bottom {
	border-bottom: 1px solid #E5E5E5;
}

/* register */
.registerbox {
	padding: 15px 15px 0 15px;
	margin-bottom: 15px
}

#Address2Frm .form-horizontal .control-label {
	min-width: 75px;
	width: auto;
	text-align: left;
}

#Address2Frm .registerbox .controls {
	width: auto;
	margin-left: 29%;

}

.myaccountbox {
	padding: 10px 15px 15px 5px;
	margin-bottom: 10px
}

.myaccountbox ul {
	padding: 0;
	margin: 0
}

.myaccountbox ul li {
	display: block;
	border-bottom: 1px dashed #E7E7E7;
}

.myaccountbox ul li:last-child {
	border: none;
}

.myaccountbox ul li a {
	display: block;
	padding: 5px 5px 5px 5px;
	background: none;
	color: #999;
}

.myaccountbox ul li.selected, .myaccountbox ul li.selected a  {
	display: block;
	padding: 5px 5px 5px 5px;
	background: none;
	color: #00A1CB;
}

.myaccountbox ul li a:hover {
	color: #00A1CB;
	padding: 5px 5px 5px 5px;
}

.newcustomer, .returncustomer {
	width: 48%;
	float: left;
	border: 1px solid #E7E7E7;
	padding: 15px 20px;
}

.returncustomer {
	padding-right: 0;
	margin-right: 0;
	width: 48%;
	float: right;
}

.newcustomer {
	float: left;
}

.newcustomer input {
	margin-top: 0;
}

.privacy {
	float: right;
	margin: 10px 10px 0 0
}

ul.tags {
	margin: 20px 0 0;
}

.tags li {
	display: inline-block;
	margin: 5px 3px
}

ul.tags li a {
	display: inline-block;
	padding: 3px 10px;
	background: #E7E7E7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #999;
}

ul.tags li a:hover {
	background: #f25c27;
	color: #fff
}

.checkout_details {
	background: #F9F9F9;
	border: 1px solid #E7E7E7;
	padding: 10px;
	margin-bottom: 10px;
}

/* Sidebar */
.sidewidt {
	margin-bottom: 40px;
}

/*Sidebar Nav*/
#sidenav .navbar-inner {
	background: none;
	border: none;
	box-shadow: none;
	filter: none;
}

#sidenav ul {
	padding: 0;
}

#sidenav ul li {
	padding: 5px 0;
}

#sidenav ul li a {
	box-shadow: none;
	text-shadow: none;
	color: #00A1CB;
	font-size: 14px;
	padding: 0 0 0 10px;
	margin-right: 22px
}

#sidenav ul.dropdown-menu li a {
	color: #00A1CB;
}

#sidenav ul.dropdown-menu li a span {
	padding: 0 10px 0 1px;
}

.categorytitle {
	margin: 0 0 35px 0
}

ul.side_list {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	padding-top: 10px;
	padding-bottom: 10px
}

ul.side_list li {
	display: block;
	border-bottom: 1px dashed #E7E7E7
}

ul.side_list li:last-child {
	border: none
}

ul.side_list li a {
	display: block;
	padding: 6px 5px 6px 30px;
	background: url("../image/arrowcategory.png") no-repeat scroll 10px center transparent;
	color: #999;
	font-size: 15px
}

ul.side_list li a.active {
	color: #00A1CB;
	font-size: 15px
}

ul.side_list li a:hover {
	background: url("../image/arrowcategory.png") no-repeat scroll 10px center transparent;
	color: #333;
	font-size: 15px;
}

/* Bestseller */
ul.side_prd_list {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0
}

ul.side_prd_list li a.productname {
	display: block;
	color: #00A1CB;
	font-size: 15px
}

ul.side_prd_list li a:Hover.productname {
	color: #333;
}

ul.side_prd_list li img {
	float: left;
	margin: 0 5px 10px 0;
	padding: 5px;
	background: #fff
}

ul.side_prd_list li span.price {
	display: block;
	font-size: 16px;
}

ul.side_prd_list li span.procategory {
	display: block;
	color: #333;
}

ul.side_prd_list li {
	display: block;
	border-bottom: 1px dashed #E7E7E7;
	padding: 16px 10px 16px 10px;
	height: auto;
	min-height: 63px;
}

ul.side_prd_list li:last-child {
	border: none
}

ul.side_prd_list li:hover {
}

ul.side_prd_list li.related_product {
	display: inline-block;
	font-size: 15px;
	border: none;
	min-height: 150px;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	overflow: hidden;
}
ul.side_prd_list li.related_product a {
	display: inline-block;
}

ul.side_prd_list li.related_product .productname {
	white-space: pre-wrap;
	height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.side_prd_list li img {
	float: left;
	margin: -5px 5px 10px 0;
	padding: 5px;
	background: #fff;
}
ul.side_prd_list li img.rating {
	padding: 0;
	margin: 5px 5px 0 0;
}

img.rating{
	border: none !important;
	padding: 0;
}

a.compare img.rating{
	margin-bottom: 3px;
}

.sidebanner {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	display: block;
	line-height: 1;
	position: relative;
	margin-top: 40px
}

.sidebanner img {
	display: block;
	margin: 0 auto
}

/* Latest Blog */
.thumbnail .newprice {
	background: #6A7274;
	display: block;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	padding: 2px 5px
}

#latestblog p {
	line-height: 20px
}

#latestblog .blogtitle {
	font-size: 22px;
	color: #00A1CB;
	line-height: 30px;
	margin-bottom: 5px;
	display: block
}

#latestblog .blogtitle:hover {
	color: #00A1CB
}

.latestblogbutton {
	display: block;
	clear: both
}

.listblcok {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #E7E7E7
}

/* Pagination*/
.pagination {
	margin: 0;
	width: 100%;
}

.pagination ul {
	background: #fff
}

.pagination a:hover, .pagination .active a {
	background-color: #fff;
	color: #00A1CB;
}

/* sorting*/
.sorting {
	overflow: auto;
	padding: 10px 10px 5px 10px;
	margin-bottom: 20px;
	margin-top: 10px
}

.sorting form {
	margin: 0
}

/* listview*/
.list {
	display: none
}

.list .thumbnail .links {
	float: right;
	margin-top: 78px
}

.list .details {
	margin: 10px;
	line-height: 18px
}

/* Contact */
label.error {
	color: #00A1CB;
	float: none;
	display: inline-block
}

.element_error {
	color: #e14529;
}

/* Footer */
#footer {
	margin-top: 20px
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#footer ul li {
	list-style: none
}

#footer .info ul li:last-child {
	background: none
}

.contact li {
	padding: 0;
	height: 40px;
}

.contact li>span {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.contact li>span.phone {
    position:relative;
}
.contact li>span.phone:before {
	position: absolute;
	font-family: FontAwesome;
	font-size: 16px;
	content: "\f095";
}
.contact li>span.mobile {
    position:relative;
}
.contact li>span.mobile:before {
	position: absolute;
	font-family: FontAwesome;
	font-size: 16px;
	content: "\f10b";
}
.contact li>span.email {
    position:relative;
}
.contact li>span.email:before {
	position: absolute;
	font-family: FontAwesome;
	font-size: 16px;
	content: "\f0e0";
}

.footerlinks {
	padding: 22px 0 18px;
	background: #3a3a3a;
	color: #969ba4
}

.footerlinks ul li a {
	color: #969ba4;
	padding: 5px 10px 5px 10px;
}

.footerlinks ul li a:hover {
	color: #f9f9f9
}

.footerlinks .info {
	float: left;
	margin-top: 5px
}

.footerlinks ul li {
	display: inline-block
}

.footerlinks ul li:first-child a {
	padding-left: 0
}

.headerlinks {
	padding: 7px 0 0;
	background: #ffffff;
	color: #969ba4
}

.headerlinks ul li a {
	color: #969ba4;
	padding: 5px 10px 5px 10px;
}

.headerlinks ul li a:hover {
	color: #000000;
}

.headerlinks .info {
	float: left;
	margin-top: 5px
}

.headerlinks ul li {
	display: inline-block
}

.footerlinks ul li:first-child a {
	padding-left: 0
}

/* footersocial  */
.footersocial {
	padding: 30px 0 40px;
	background: #F5F5F5;
	color: #5E626B;
	border-top: 1px solid #d7d8da;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025) inset;
}

.footersocial h2 {
	margin-bottom: 30px;
	font-size: 18px;
	color: #5e626b;
	text-transform: uppercase;
	border-bottom: 1px dashed #999;
	padding: 0 0 5px 0
}

#social_icons, .social_icons {
	float: right;
	margin-right: -12px
}

#social_icons a, .social_icons a  {
	background: url(../image/footericon.png) no-repeat;
	height: 30px;
	width: 30px;
	margin-right: 11px;
	text-indent: -9999px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease
}

#social_icons a:hover, .social_icons a:hover {
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease
}

#social_icons a.facebook, .social_icons a.facebook {
	background-position: 0 -6px;
}

#social_icons a.facebook:hover, .social_icons a.facebook:hover {
	background-position: 0 -47px;
}

#social_icons a.twitter, .social_icons a.twitter  {
	background-position: -40px -6px
}

#social_icons a.twitter:hover, .social_icons a.twitter:hover {
	background-position: -40px -47px
}

#social_icons a.linkedin, .social_icons a.linkedin {
	background-position: -80px -6px
}

#social_icons a.linkedin:hover, .social_icons a.linkedin:hover {
	background-position: -80px -47px
}

#social_icons a.blooger, .social_icons a.blooger {
	background-position: -118px -6px
}

#social_icons a.blooger:hover, .social_icons a.blooger:hover {
	background-position: -118px -47px
}

#social_icons a.rss, .social_icons a.rss {
	background-position: -155px -6px
}

#social_icons a.rss:hover, .social_icons a.rss:hover {
	background-position: -155px -47px
}

#social_icons a.dig, .social_icons a.dig {
	background-position: -194px -6px
}

#social_icons a.dig:hover, .social_icons a.dig:hover {
	background-position: -194px -47px
}

#social_icons a.googleplus, .social_icons a.googleplus {
	background-position: -234px -6px
}

#social_icons a.googleplus:hover, .social_icons a.googleplus:hover {
	background-position: -234px -47px
}

#social_icons a.skype, .social_icons a.skype {
	background-position: -271px -6px
}

#social_icons a.skype:hover, .social_icons a.skype:hover {
	background-position: -271px -47px
}

#social_icons a.flickr, .social_icons a.flickr {
	background-position: -309px -6px
}

#social_icons a.flickr:hover, .social_icons a.flickr:hover {
	background-position: -309px -47px
}
/* oneByOne slider*/
#banner_slides{
	display: none;
}

/*Copyright Bottom*/
.copyrightbottom {
	background: #303030;
	padding: 15px 0;
	color: #969ba4
}

#gotop {
	position: fixed;
	bottom: 2px;
	right: 5px;
	height: 58px;
	width: 58px;
	background: url(../image/gotop.png) no-repeat 0 0;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 100;
}

.the-icons li {
	display: inline-block;
	width: 22%;
	padding: 10px 0
}

/*Footer Nav*/
#footernav .navbar-inner {
	background: none;
	border: none;
	box-shadow: none;
	filter: none;
}

#footernav ul {
	padding: 0;
}

#footernav ul li {
	padding: 5px 0;
}

#footernav ul li a {
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px;
	padding: 0 0 0 25px;
	margin-right: 22px
}

#footernav ul.dropdown-menu li a {
	color: #999;
}

#footernav ul.dropdown-menu li a span {
	padding: 0 10px 0 10px;
}

.thumbnail img {
	margin: 0;
}

#newslettersignup .input-prepend {
	text-align: right;
	float: right;
}

.form-inline .checkbox.pull-right.mr10 {
	width: auto;
	min-width: 310px;
	text-align: right;
}


/* ------------ bootstrap overwrite ------------ */
/* fix for lable inside of input-group */
.input-group label {
	padding-top: 7px;
	margin-right: 5px;
}
.input-group label>input[type="checkbox"]{
	vertical-align: sub;
}

form .help-block {
    text-align: center;
}

.form-control, .alert {
    border-radius: 0;
}

/* -- disable round corners for buttons -- */
.btn, .label, .badge, .nav-pills > li > a, select,
.btn-group > .btn:first-child, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span, .well, .breadcrumb, .navbar, .navbar-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar-inverse {
	border: none;
}
.list-group {
	margin-top: 10px;
	margin-bottom: 10px;
}
.input-group-addon, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.dropdown-menu li > a {
	color: #96979d;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	content: '';
}

.dropdown-menu:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.nav > li > a:hover {
	background-color: transparent;
}

.nav .dropdown-toggle .caret {
	border-bottom-color: #00A1CB;
	border-top-color: #00A1CB;
}

.dropdown-menu li > a {
	padding: 5px 10px;
	display: block;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
	color: #ffffff;
	text-decoration: none;
	background: #00A1CB;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	color: #ffffff;
	text-decoration: none;
	background: #00A1CB;
	outline: 0;
}

/*.btn { padding: 6px 12px;} */
.btn-orange, .btn-primary {
	color: #ffffff;
	text-shadow: none;
	background: #F25C27;
	*background: #F25C27;
	box-shadow: none;
	border-color: #d8420e;
}

.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled],
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #d8420e;
	border-color: #d8420e;
}

.btn-orange:active, .btn-orange.active,
.btn-primary:active, .btn-primary.active {
	background-color: #d8420e   \9;
	border-color: #d8420e;
}

.btn-wht {
	color: #00A1CB;
	text-shadow: none;
	background-color: #ffffff;
	*background-color: #ffffff;
	box-shadow: none;
}

.btn-wht:hover, .btn-wht:active, .btn-wht.active, .btn-wht.disabled, .btn-wht[disabled] {
	color: #0e5f86;
	background-color: #ffffff;
	*background-color: #ffffff;
}

.btn-wht:active, .btn-wht.active {
	background-color: #ffffff    \9;
}

.label-orange, .badge-orange {
	background-color: #00A1CB;
}

.label-orange[href], .badge-orange[href] {
	background-color: #00A1CB;
}

.dropdown-menu {
	top: 97%;
}

.nav-tabs > li > a, .nav-pills > li > a {
	margin: 2px 5px 2px 6px;
	border-radius: 1px 1px 0 0;
}

.thumbnail {
	position: relative;
	padding: 0 0 5px 0;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-align: center;
	min-width: 200px;
}

.smallimage .thumbnail{
	min-width: 60px !important;
}

table th {
	color: #333;
}

.nav li.dropdown.open a:hover .caret {
	border-top-color: #00A1CB !important;
	border-bottom-color: #00A1CB !important;
	opacity: 1;
	filter: alpha(opacity=100);
}

.input-group-addon.captcha-addon {
	padding: 0;
}
.input-group-addon.captcha-addon img{
	height: 32px;
}

/*--- Specific CSS --*/
.welcome_msg {

}

#current_reviews .pagination .limits {
	display: none;
}

#current_reviews .results {
	float: right;
}

.separator, #current_reviews .content {
	margin-bottom: 10px;
	color: #5e626b;
	border-bottom: 1px dashed #999;
	padding: 0 0 5px 0
}

.ws_nowrap {
	white-space: nowrap;
}

/*information block (content) and bottom menu */
.headerdetails ul.nav.info_links_header li.dropdown {
	border: 1px solid #d7d8da;
	padding: 7px 20px;
	display: inline-block;
	margin-right: 15px;
	text-transform: uppercase;
	background-color: #ffffff;
}

.info_links_footer .dropup-menu,  #main_menu_bottom .dropdown-menu  {
    bottom: 100%;
    top: auto !important;
}

.info_links_footer ul li a:hover, #main_menu_bottom ul li a:hover {
	color: #3A3A3A;
	background-color: #969BA4;
}

.info_links_footer ul, #main_menu_bottom ul {
	background: none repeat scroll 0 0 #3A3A3A;
	border-color: #969BA4;
}

/* position the arrow downwards, pointing to the menu */
.info_links_footer .dropdown-menu, #main_menu_bottom .dropdown-menu {
	border: 1px solid #ccc;
}

.info_links_footer .dropup-menu:before, #main_menu_bottom .dropdown-menu:before {
    border-bottom: none !important;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    left: 7px;
    top: 100%;

}

.info_links_footer .dropup-menu:after, #main_menu_bottom .dropdown-menu:after {
	border-bottom: none !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: none !important;
    top: 100%;
    left: 6px;
}
.info_links_footer .dropdown-menu > li > a, #main_menu_bottom  .dropdown-menu > li > a {
	white-space: nowrap;
}



/*
paypal pro styles
*/
#paypal #paypal_button{
	display: inline-block;
}

.table.confirm_payment_options, .table.confirm_shippment_options {
	table-layout: fixed;
}


/* account dashboard */

.tooltip {
    z-index: 1052;
}
.tooltip.in {
    opacity: 1;
}
.tooltip-inner {
    background-color: #00A1CB;
    padding: 6px;
    margin-bottom: 8px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #00A1CB;
    margin-bottom: 8px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #00A1CB;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #00A1CB;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00A1CB;
}

#primary-nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 15px 0;
}
#primary-nav li a {
    background-color: #E9E9E9;
    color: #999;
    display: block;
    margin: 5px 0 0;
    padding: 9px 10px 6px 40px;
}
#primary-nav li a:hover {
    background-color: #F6F6F6;
    color: #777777;
    text-decoration: none;
}
#primary-nav li a.active {
    background-color: #FFFFFF;
    border-left: 5px solid #DB4A39;
    color: #333;
    margin: 5px 0 0;
    padding-left: 35px;
}
#primary-nav li i {
    color: #999;
    display: inline-block;
    margin: 0 10px 0 -30px;
    text-align: center;
    width: 20px;
}
#primary-nav li span {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    display: block;
    float: right;
    font-size: 12px;
    height: 20px;
    text-align: center;
    width: 20px;
}
#primary-nav li.active > ul {
    display: block;
}
#primary-nav li > ul {
    display: none;
    margin: 0;
    padding: 0;
}
#primary-nav li > ul a {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 13px;
    margin: 0;
}
#primary-nav li > ul a.active {
    margin: 0;
}
#nav-info {
    background-color: #F6F6F6;
    border-bottom: 1px solid #d7d8da;
    list-style: none outside none;
    margin: -20px -20px 20px;
    padding: 0;
}
#nav-info > li:first-child {
    background: none repeat scroll 0 center transparent;
    padding: 0 15px;
}
#nav-info > li {
	background: no-repeat left top;
	background-size: 5px 30px;
    color: #999;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 33px;
    padding: 0 15px 0 20px;
}
#nav-info > li > a {
    color: #555;
}
#nav-info > li.active {
    color: #555;
}
#nav-info > li.active a {
    color: #DB4A39;
}
/* Override Bootstrap setting */
.nav-dash * {
    box-sizing: initial;
}
.nav-dash {
    list-style: none outside none;
    margin: 0 -20px 20px;
    padding: 10px 0;
    text-align: center;
}
.nav-dash > li {
    display: inline-block;
    margin: 0 3px;
}
.nav-dash > li > a {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #777777;
    display: block;
    font-size: 32px;
    min-height: 45px;
	min-width: 45px;
    line-height: 32px;
    margin: 0 0 5px;
    padding: 27px 20px 13px;
    position: relative;
    text-align: center;

}
.nav-dash > li > a:hover, .nav-dash > li.active > a {
    background-color: #F25C27;
    border: 1px solid #DB4A39;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-dash > li > a > .badge, .nav-dash > li > a > .label {
    margin: 0 0 0 3px;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    top: 0;
}

.dash-tiles {
    color: #333;
    font-family: inherit;
}

.dash-tile {
    background-color: #E9E9E9;
    margin: 0 0 20px;
    min-height: 170px;
    padding: 0 20px;
}
.dash-tile-2x {
    min-height: 400px;
}
.dash-tile-header {
    background-color: #EEEEEE;
    border-bottom: 2px solid #d7d8da;
    font-weight: bold;
    line-height: 45px;
    margin: 0 -20px;
    min-height: 38px;
    padding: 0 4px 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
.dash-tile-options {
    float: right;
    height: 38px;
    line-height: 41px;
}
.dash-tile-options a:hover {
    color: #333;
    text-decoration: none;
}
.dash-tile-content {
    margin: 0 -20px;
    padding: 10px;
}
.dash-tile-2x .dash-tile-content {
    padding: 15px;
}
.dash-tile-content-inner {
    height: 130px;
}
.dash-tile-2x .dash-tile-content-inner {
    height: 330px;
}
.dash-tile-content-inner-fluid {
    min-height: 130px;
}
.dash-tile-2x .dash-tile-content-inner-fluid {
    min-height: 330px;
}
.dash-tile-content-light {
    background-color: #F9F9F9;
    padding: 10px;
}
.dash-tile-content .alert {
    margin: 5px 0;
}
.dash-tile-icon, .dash-tile-text {
    color: #FFFFFF;
    line-height: normal;
}
.dash-tile-icon {
    float: left;
    font-size: 40px;
    padding: 30px 0 0;
    text-align: left;
}
.dash-tile-text {
    float: right;
    font-size: 20px;
    padding: 40px 0 0;
    text-align: right;
}
.dash-tile-leaf .dash-tile-header, .dash-tile-dark .dash-tile-header, .dash-tile-ocean .dash-tile-header, .dash-tile-flower .dash-tile-header, .dash-tile-fruit .dash-tile-header, .dash-tile-oil .dash-tile-header, .dash-tile-balloon .dash-tile-header, .dash-tile-doll .dash-tile-header {
    background-color: #EEEEEE;
    border-bottom: 2px solid #F9F9F9;
    opacity: 0.45;
}
.dash-tile-leaf.no-opacity .dash-tile-header, .dash-tile-dark.no-opacity .dash-tile-header, .dash-tile-ocean.no-opacity .dash-tile-header, .dash-tile-flower.no-opacity .dash-tile-header, .dash-tile-fruit.no-opacity .dash-tile-header, .dash-tile-oil.no-opacity .dash-tile-header, .dash-tile-balloon.no-opacity .dash-tile-header, .dash-tile-doll.no-opacity .dash-tile-header {
    opacity: 1;
}
.dash-tile-leaf:hover, .dash-tile-dark:hover, .dash-tile-ocean:hover, .dash-tile-flower:hover, .dash-tile-fruit:hover, .dash-tile-oil:hover, .dash-tile-balloon:hover, .dash-tile-doll:hover {
    opacity: 0.9;
}
.dash-tile-leaf.no-opacity:hover, .dash-tile-dark.no-opacity:hover, .dash-tile-ocean.no-opacity:hover, .dash-tile-flower.no-opacity:hover, .dash-tile-fruit.no-opacity:hover, .dash-tile-oil.no-opacity:hover, .dash-tile-balloon.no-opacity:hover, .dash-tile-doll.no-opacity:hover {
    opacity: 1;
}
.dash-tile-leaf {
    background-color: #C2DB39;
}
.dash-tile-dark {
    background-color: #555555;
}
.dash-tile-ocean {
    background-color: #3991DB;
}
.dash-tile-flower {
    background-color: #9139DB;
}
.dash-tile-fruit {
    background-color: #DB9839;
}
.dash-tile-oil {
    background-color: #D9DB39;
}
.dash-tile-balloon {
    background-color: #DB6739;
}
.dash-tile-doll {
    background-color: #DB39BB;
}

/* ENDOF account dashboard */

/* product downloads */

.downloads>li img{
	width: 40px;
	vertical-align: top;
	display: inline-block;
}

.downloads>li>div{
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
}
.downloads>li:hover{
	background-color: #f0f0f0;
}

.download-list-attributes{
	line-height: 14px;
	margin-left: 20px;
}
.download-list-attributes small{
	display: block;
}
.download-list {
	width: 100%;
}

.download-list>tbody>tr>td:first-child div{
	display: inline-block;
}

.download-list>tbody>tr>td:last-child{
	vertical-align: middle;
	text-align: right;
}

#productdownloads .list-group-item {
	min-height: 54px;
}

.payment_icon img{
	max-width: 100%;
}

.product_option_label{
	background-color: #f5f5f5;
	color: black;
	overflow: hidden;
	padding: 10px;
	border: 1px solid #d7d8da;
	font-weight: 400;
	width: 100%;
}

/* Responsive Section */
@media (min-width: 1200px) {
	.cart-info .estimate{
		float: right;
	}
}

@media (max-width: 1200px) {

	#topnav ul li a {
		font-size: 12px;
		margin-right: 8px
	}

	.thumbnails li:hover .thumbnail img {
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		-o-transform: none; /* Opera */
		-moz-transform: none;
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
	}

	.thumbnail {
		text-align: center;
	}

	.top-search input {
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	.form-inline .checkbox.pull-right.mr10 {
		width: auto;
		min-width: 310px;
		text-align: right;
	}


}

@media (min-width: 1024px) and (max-width: 1200px){

	.addresses>section{
		display: inline-block;
		width: 45% !important;
	}
	.cart-info .estimate{
		float: right;
	}
}
@media(min-width: 1200px) and (max-width: 1280px){
	#customernav div.menu_text, #customernav ul li a {
	    width: 180px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media (min-width: 768px) and (max-width: 1200px) {
	header .headerstrip .container-fluid .span12 {
		width: 100%;
	}

	.form-inline .checkbox.pull-right.mr10 {
		width: auto;
		min-width: 310px;
		text-align: right;
	}

	.top-search input {
		width: 200px;
		margin: 0 0 10px 0;
		float: left;
	}

	#newslettersignup .input-prepend input {
		/*white-space: pre-wrap;*/
		text-align: right;
		float: right;
		clear: both;
	}

	#footer .footersocial .span3 {
		min-width: 270px;
		min-height: 310px;
		display: inline-block;
		zoom: 1;
	}

	.cart-info td, .cart-info th {
		padding: 5px;
	}

	.cart-info .estimate, .cart-info .coupon {
		width: 100%;
	}

	.cart-info .estimate table {
		border-left: none;
	}

	.cart-info .coupon table {
		border-right: 1px solid #E7E7E7 !important;
	}

	.cart-info.totals a {
		float: none;
		text-align: center !important;
		margin-bottom: 10px;
	}

	.headerdetails ul.topcartopen {
		width: 250px;
	}

	.headerdetails ul.topcartopen .btn-orange {
		text-transform: none;
		display: inline-block;
	}

	.headerdetails ul.topcartopen .well {
		width: 92%;
	}

	#product_details .thumbnail img {
		max-width: 235px !important;
	}

	.promo_block .promo_icon {
		font-size: 40px;
	}
	#banner_slides img.wp1_3 {
		left: auto !important;
	}
	#banner_slides .wp1_left.slide2_bot {
		left: 0 !important;
	}

	.returncustomer, .newcustomer {
		width: 46%;
		padding: 10px 10px;
		display: inline-block;
		float: none;
		height: 100%;
	}

	.returncustomer {
		margin-left: 25px;
	}

	.banner_block_23_11 .container-fluid{
		text-align: center;
	}
	.banner_block_23_11.container-fluid.mt20 .pull-left{
		display: inline-block;
		float: none;
		margin-left: 50px;
		margin-top: 10px;
		text-align: center;
	}

	.addresses>section{
		display: inline-block;
		width: 95%;
		float: left !important;
	}

	#banner_slides img.wp1_1 {
		left: 250px;
		right: 0;
	}
	#banner_slides img.wp1_2 {
		left: 250px;
		right: 0;
	}
	#banner_slides img.wp1_3 {
		left: 250px;
		right: 0;
	}

	/* Top menu small resolution */
	#topnav {
		width: 200px;
	}
	#topnav select {
		display: inline-block;
		height: auto;
		width: 200px;
		float: none;
	}
	#topnav ul {
		display: none
	}

	.payment_confirmation {
		margin-top: 20px;
	}

}

/* END @media FULL */

@media (max-width: 850px) {
	#customernav {
		display: none;
	}

	.payment_confirmation {
		margin-top: 20px;
	}
}


@media (max-width: 979px) {
	.header-logo {
		width: 270px;
	}

	#categorymenu {
		margin: 0 0 10px 0
	}

	.thumbnails>li.span3 {
		min-width: 273px;
	}

	.smbanner {
		width: 724px;
	}

	/* Categories small resolution */
	#categorymenu select {
		display: block;
	}
	#categorymenu {
		background: none
	}
	nav.subnav {
		width: auto;
		float: none
	}
	nav.subnav select {
		display: inline-block;
		height: auto;
		width: 100%;
		float: none
	}
	nav.subnav {
		background: none;
		border: none
	}
	nav.subnav ul {
		display: none
	}

	#categorymenu, .breadcrumb, .jumbotron, .well{
		border: 0px;
		box-shadow: none;
	}

	/* Top menu small resolution */
	#topnav {
		width: 200px;
	}
	#topnav select {
		display: inline-block;
		height: auto;
		width: 200px;
		float: none;
	}
	#topnav ul {
		display: none
	}

	.headerstrip .pull-right {
		margin-right: 20px;
	}

	.headerstrip .pull-right #search_form {
		margin-top: 10px;
	}

	.headerdetails .nav.pull-left {
		float: none;
		margin: 0 0 10px 0;
	}

	.headerstrip {
		height: auto;
	}

	.thumbnail .pricetag {
		margin: 0 auto;
	}

	.otherddetails .otherddetailspart .innerclass h2 {
		font-size: 18px;
	}

	#featured .thumbnails li:hover .thumbnail img,
	#latest .thumbnails li:hover .thumbnail img,
	#bestseller .thumbnails li:hover .thumbnail img,
	#related .thumbnails li:hover .thumbnail img,
	#category .thumbnails li:hover .thumbnail img,
	.thumbnails.list li:hover .thumbnail img {
		transform: none;
		-ms-transform: none; /* IE 9 */
		-webkit-transform: none; /* Safari and Chrome */
		-o-transform: none; /* Opera */
		-moz-transform: none; /* Firefox */
		transition: all 0.8s;
		-ms-transition: all 0.8s; /* IE 9 */
		-moz-transition: all 0.8s; /* Firefox 4 */
		-webkit-transition: all 0.8s; /* Safari and Chrome */
		-o-transition: all 0.8s; /* Opera */
	}

	.newcustomer, .returncustomer{
		width: 97%;
		margin-bottom: 10px;
		margin-left: 0;
	}

	#banner_slides {
		width: 770px;
	}

	#banner_slides .oneByOne_item {
		width: 770px;
	}

	#banner_slides .oneByOne_item span.txt1 {
		font-size: 20px;
	}

	#banner_slides .oneByOne_item span.txt2 {
		font-size: 36px;
	}

	#banner_slides .oneByOne_item span.txt3, body #banner_slides .oneByOne_item span.txt4 {
		width: 200px;
	}

	#banner_slides .oneByOne_item span.txt_right {
		padding-left: 510px;
	}

	#banner_slides .oneByOne_item span.txt4.txt_right {
		padding-left: 510px;
	}

	#banner_slides .oneByOne_item span.txt_right2 {
		margin-left: 405px;
	}

	#banner_slides {
		width: 800px;
	}

	#banner_slides img.wp1_3 {
		right: auto !important;
	}

	#banner_slides img.wp1_3.wp1_left.slide2_bot {
		left: -76px;
	}

	#banner_slides .oneByOne_item.banner:nth-child(2) span {
		margin-left: 473px;
	}

	#banner_slides .oneByOne_item span.txt3 {
		width: 240px !important;
	}

	.oneByOne_item.banner .animate0 img {
		width: auto;
	}

	.oneByOne_item.banner .animate0 span {
		font-size: 99% !important;
	}

	.top-search input {
		width: 200px;
		margin: 0 auto 10px;
		float: left !important;
	}

	#social_icons, .social_icons {
	}

	#newslettersignup .input-prepend {
		white-space: pre-wrap;
		text-align: right;
	}

	.container-fluid .otherddetailspart:last-child {
		border-bottom: none;
	}

	.cart-info .coupon table {
		border-right: 1px solid #E7E7E7 !important;
	}

	.block_frame_cart  .btn-orange {
		float: none !important;
	}

	.block_frame_cart  .btn-orange:last-child {
		margin-top: 10px;
	}

	.block_frame_cart td.image {
		display: none;
	}

	.banner_block_23_11{
		padding-left: 0;
	}
	.banner_block_23_11 .container-fluid{
		text-align: center;
		padding-left: 0;
		max-width: 700px;
	}
	.banner_block_23_11.container-fluid.mt20 .pull-left{
		display: inline-block;
		float: none;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.addresses>section{
		display: inline-block;
		width: 95%;
		float: left !important;
	}

	.confirm_payment_options .btn {
		margin-bottom: 3px;
	}
}

/* END @media (max-width: 979px) */

@media (max-width: 768px) {
	.smbanner {
		width: auto;
	}

	.headerstrip #topnav {
		background: #00A1CB;
		padding-bottom: 10px
	}

	.headerstrip .pull-left {
		float: none;
	}

	.headerstrip .pull-right #search_form {
		margin-top: 0;
	}

	.headerdetails .nav.pull-left {
		float: none;
	}

	.headerdetails>div.pull-left {
	}

	.headerdetails>div.pull-left div.well {
		padding-top: 20px;
	}

	.headerdetails ul.topcartopen .btn-orange {
		text-transform: none;
	}

	#topnav {
		width: auto;
		text-align: center;
	}

	#topnav ul {
		text-align: center;
		margin: 0 auto;
		float: none
	}

	#topnav ul li {
		display: inline-block;
		float: none
	}

	.headerstrip .pull-right .search-query {
		margin-top: 0
	}

	.footerlinks {
		text-align: center;
	}

	.footerlinks .info, #social_icons, .social_icons {
		float: none;
		margin: 10px 0
	}

	.footerlinks {
		padding: 10px 0
	}

	.otherddetails .otherddetailspart {
		width: 100%;
		background: none;
		border-bottom: 1px solid #d7d8da;
	}

	#newslettersignup input[type=submit] {
		height: 42px;
	}

	#newslettersignup .input-prepend {
		white-space: nowrap;
	}

	.the-icons li {
		display: block;
		width: 90%;
		padding: 10px 0;
	}

	.smbanner .span3 a {
		margin: 10px 0;
	}

	.heading1 .subtext {
		display: none;
	}

	.productdesc #myTab.nav-tabs li a {
		padding: 8px;
	}

	th.image, th.model, td.image, td.model {
		display: none !important
	}

	.cart-info td, .cart-info th {
		padding: 5px;
	}

	.cart-info .estimate, .cart-info .coupon {
		width: 99%;
	}

	.cart-info .estimate table {
		border-left: none;
	}

	.cart-info .coupon button {
		margin-top: 10px;
	}

	.cart-info .coupon table {
		border-right: 1px solid #E7E7E7 !important;
	}

	.cart-info.totals a {
		float: none;
		text-align: center !important;
		margin-bottom: 10px;
	}

	.cart-info.product-list table tr td:nth-child(3), .cart-info.product-list table tr th:nth-child(3),
	.cart-info.product-list table tr td:nth-child(6), .cart-info.product-list table tr th:nth-child(6){
		display: none !important;
		visibility: hidden !important;
	}

	#banner_slides {
		width: 480px;
	}

	#banner_slides .oneByOne_item {
		width: 480px;
	}

	#banner_slides .oneByOne_item img.wp1_3 {
		visibility: hidden;
	}

	#banner_slides .oneByOne_item span.txt1 {
		font-size: 20px;
	}

	#banner_slides .oneByOne_item span.txt2 {
		font-size: 36px;
	}

	#banner_slides .oneByOne_item span.txt3, body #banner_slides .oneByOne_item span.txt4 {
		width: 200px;
	}

	#banner_slides .oneByOne_item span.txt_right {
		padding-left: 10px;
	}

	#banner_slides .oneByOne_item span.txt4.txt_right {
		padding-left: 10px;
	}

	#banner_slides .oneByOne_item span.txt_right2 {
		margin-left: 10px;
	}

	.oneByOneSlide {
		display: none;
		visibility: hidden;
	}

	.banner_fallback {
		display: block;
	}

	.banner_fallback img {
		width: 100%;
		height: auto;
	}

	.top-search input {
		width: 200px;
		margin: 0 auto 10px auto;
		float: left !important;
	}

	.thumbnails>li.span2 {
		float: left;
		width: auto;
	}

	.thumbnails>li.span2 div.span2 {
		text-align: center;
	}

	.newcustomer, .returncustomer{
		width: 97%;
		margin-bottom: 10px;
		margin-left: 0;
	}

	.addresses>section{
		display: inline-block;
		width: 88%;
		float: left !important;
	}

}

/* END @media (max-width: 760px) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.header-logo {
		background: none;
		width: auto;
		height: auto;
		line-height: normal;
		text-align: left;
		max-width: none;
	}

	.navbar-collapse{
		border: none;
		box-shadow: none;
	}
	.logo img {
		background: white;
	}
	.logo {
		padding: 10px;
	}

	.headerstrip_blocks .block_4 {
		float: left;
	}
	.headerdetails {
		padding-top: 10px;
	}

	.headerdetails .block_8 {
		float: left;
	}
	.heading1 .maintext, .heading2 {
		font-size: 20px;
	}

	#product_details .thumbnail img {
		max-width: 300px !important;
	}

	.payment_icon img{
		max-width: 350px;
	}

	.container-fluid.otherddetails {
		width: auto;
	}

	.container-fluid .otherddetailspart:last-child {
		border-bottom: none;
	}

	.thumbnail .offer, .thumbnail .sale, .thumbnail .new {
		left: 70px
	}

	#topnav ul li a {
		font-size: 11px;
		margin-right: 5px;
	}

	.headerstrip #topnav {
		margin-bottom: 0;
	}

	.sorting.well .pull-right {
		margin-top: 0;
	}

	.returncustomer, .newcustomer {
		width: 92%;
	}

	.returncustomer {
		margin: auto;
		float: left;
	}

	.newcustomer {
		margin: auto auto 10px;
		float: left;
	}

	.pagination.pull-right {
		margin-top: 50px !important;
	}

	.headerdetails ul.topcartopen {
		width: 250px;
	}

	.headerdetails ul.topcartopen .btn-orange {
		text-transform: none;
	}

	.cart-info .coupon button {
		margin-top: 0;
	}

	.banner_block_23_11 .container-fluid{
		text-align: center;
	}
	.banner_block_23_11.container-fluid.mt20 .pull-left{
		display: inline-block;
		float: none;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.addresses>section{
		display: inline-block;
		width: 88%;
		float: left !important;
	}

	.cart-info .estimate table {
		border-left: none;
	}

	.cart-info #coupon_coupon {
		display:block;
	}
	.cart-info .coupon table {
		border-right: 1px solid #E7E7E7 !important;
	}

	.cart-info .coupon button, .cart-info {
		margin-top: 10px;
	}

	.cart-info.totals a {
		float: none;
		text-align: center !important;
		margin-bottom: 10px;
	}

	#apply_coupon_btn{
		margin-top: 10px;
	}

	.search-bar {
		position: absolute;
		z-index: 1000;
	}

	#customernav {
		display: block;
		width: 200px;
	}
	#customernav.navbar{
		margin-bottom: 5px;
	}
	#customernav .navbar-nav{
		margin: 0;
	}

}

@media only screen and (max-width: 480px) {
	.header-logo {

		background: none;
		width: 100%;
		height: auto;
		line-height: normal;
		text-align: left;
		max-width: none;
	}

	.navbar-collapse{
		border: none;
		box-shadow: none;
	}
	.logo img {
		background: white;
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.logo {
		padding: 0px;
		float:left;
	}

	.payment_icon img{
		max-width: 200px;
	}

	.headerstrip_blocks .block_4 {
		float: left;
	}
	.headerdetails {
		padding-top: 10px;
	}
	.headerdetails .block_8 {
		float: left;
	}
	.heading1 .maintext, .heading2 {
		font-size: 20px;
	}

	#product_details .thumbnail img {
		max-width: 300px !important;
	}

	.form-inline .checkbox.pull-right.mr10 {
		width: 210px;
		min-width: 10px;
		text-align: right;
	}

	.returncustomer {
		padding-right: 0;
		margin: auto;
		width: 45%;
		float: left;
	}

	.newcustomer {
		margin: auto auto 10px;
		float: left;
	}

	.inlinelables, .badges, .description {
		display: none
	}

	.modify {
		text-indent: -9999px;
		overflow: hidden
	}

	.ct_padding_left {
		padding-left: 0;
	}
	.ct_padding_right {
		padding-right: 0;
	}

	.nav-dash {
		margin: 0 -10px 10px;
	}

	.navbar {
		margin-bottom: 0;
	}

	.nav-tabs > li, .nav-pills > li {
		display: inline-block;
		float: none;
	}

	.headerdetails .nav.pull-left {
		float: none;
	}

	.headerdetails>div.pull-left {	
		margin-bottom: 10px;
	}

	.headerdetails>div.pull-left a.btn {
		margin-top: 10px;
		float: none !important;
	}

	.headerdetails>div.pull-left div.well {
		padding-top: 20px;
	}

	.topcartopen .well {
		border: none;
		box-shadow: none;
	}

	.headerdetails ul.topcart {
		width: 250px;
	}
	.headerdetails ul.topcartopen {
		width: 250px;
	}

	.headerdetails ul.topcartopen .btn-orange {
		text-transform: none;
	}

	.nav.topcart.pull-left>li.dropdown.hover.carticon {
		width: 233px;	
	}

	.headerstrip #topnav {
		padding-bottom: 0;
	}

	#social_icons a, .social_icons a {
		margin-right: 4px;
	}

	.productprint {
		display: none;
	}

	#banner_slides {
		width: 300px;
	}

	#banner_slides .oneByOne_item {
		width: 300px;
	}

	#banner_slides .oneByOne_item img.wp1_3 {
		visibility: hidden;
	}

	#banner_slides .oneByOne_item span.txt1 {
		font-size: 20px;
	}

	#banner_slides .oneByOne_item span.txt2 {
		font-size: 36px;
	}

	#banner_slides .oneByOne_item span.txt3, body #banner_slides .oneByOne_item span.txt4 {
		width: 200px;
	}

	#banner_slides .oneByOne_item span.txt_right {
		padding-left: 10px;
	}

	#banner_slides .oneByOne_item span.txt4.txt_right {
		padding-left: 10px;
	}

	#banner_slides .oneByOne_item span.txt_right2 {
		margin-left: 10px;
	}

	.oneByOneSlide {
		display: none;
		visibility: hidden;
	}

	.banner_fallback {
		display: block;
	}

	.banner_fallback img {
		width: 100%;
		height: auto;
	}

	.top-search input {
		width: 250px;
		margin: 0 auto 10px auto;
		float: left !important;
	}

	#newslettersignup .input-prepend input {
		/*white-space: pre-wrap;*/
		text-align: right;
		float: right;
		clear: both;
	}

	.side_prd_list .price .pricenew,
	.side_prd_list .price .priceold {
		display: inline-block;
	}

	.cart-info .estimate table {
		border-left: none;
	}

	.cart-info .coupon table {
		border-right: 1px solid #E7E7E7 !important;
	}

	.cart-info.totals a {
		float: none;
		text-align: center !important;
		margin-bottom: 10px;
	}
	
	.table-responsive {
		border: none;
	}

	.cart-info.product-list table tr td:nth-child(1), .cart-info.product-list table tr th:nth-child(1),
	.cart-info.product-list table tr td:nth-child(3), .cart-info.product-list table tr th:nth-child(3),
	.cart-info.product-list table tr td:nth-child(6), .cart-info.product-list table tr th:nth-child(6),
	.invoice_products.table tr td:nth-child(2), .invoice_products.table tr th:nth-child(2),
	.invoice_products.table tr td:nth-child(3), .invoice_products.table tr th:nth-child(3) {
		display: none !important;
		visibility: hidden !important;
	}

	#forgottenFrm_loginname, #forgottenFrm_email {
		width: 190px;
	}

	.sorting.well .pull-right {
		float: none;
		margin-top: 10px;
	}

	#Address2Frm .form-horizontal {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

	#Address2Frm .form-horizontal .control-label {
		min-width: 75px;
		width: auto;
		text-align: left;
	}

	#Address2Frm .form-horizontal .form-group {
		min-width: 75px;
		width: auto;
		text-align: left;
	}

	#Address2Frm .form-horizontal input, #Address2Frm .form-horizontal select {
		max-width: 150px;
		width: auto;
		text-align: left;
	}

	#Address2Frm .registerbox .controls {
		width: auto;
		margin-left: 27%;
	}

	#Address2Frm .form-horizontal .control-label {
		min-width: 75px;
		width: auto;
		text-align: left;
	}

	#Address2Frm .registerbox .controls {
		width: auto;
		margin-left: 37%;
	}

	.newcustomer, .returncustomer {
		width: 100%;
	}

	.pagination.pull-right {
		margin-top: 50px !important;
	}

	.addresses>section{
		display: inline-block;
		width: 93%;
		float: none;
	}

	.block_frame_cart  .btn-orange:last-child {
		margin-top: 0;
	}

	#apply_coupon_btn{
		margin-top: 10px;
	}
	
	/* Hide some columns in tables for small screen */
	.confirm_shippment_options td:nth-child(2), .confirm_shippment_options th:nth-child(2){ display: none; }
	.confirm_payment_options td:nth-child(2), .confirm_payment_options th:nth-child(2){ display: none; }
	.confirm_products td:nth-child(2), .confirm_products th:nth-child(2){ display: none; }

	.transaction-table td:nth-child(2), .transaction-table th:nth-child(2){ display: none; }
	.transaction-table td:nth-child(6), .transaction-table th:nth-child(6){ display: none; }

	#popularbrands #prev {
		left: -20px;
		top: 30px
	}
	
	#popularbrands #next {
		right: -20px;
		top: 30px
	}
	
	.info_links_footer li {
		padding: 5px;
	}
	
	.contentpanel {
    	padding: 5px;
	}
	.container-fluid .col-xs-12 {
 		padding-left: 5px;
    	padding-right: 5px;	
	}
	.mainimage.bigimage img {
		max-width: 300px;
		max-height: 300px;
	}

	.form-horizontal{
		margin-right: 20px;
		margin-left: 20px;
	}

	#SubscriberFrm .form-group{
		margin-left: -40px;
		margin-right: -40px;
	}
	#ContactUsFrm .form-group{
		padding-left: 50px;
	}

	#ContactUsFrm button{
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 20px;
	}
}

/* END @media (max-width: 480px) */

@media print {
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        font: 13px Arial, Helvetica,"Lucida Grande", serif;
        color: #000;
    }
    .heading1 .maintext{
    	font-size: 18px;
    }
    .heading1{
        margin-bottom: 0;
    }
    .contentpanel{
        margin-top: 0;
    }
    header .container-fluid {
    	display: none;
    }
    #categorymenu {
    	display: none;
    }
    .column_left, .column_right {
    	display: none;
    }
    #footer{
    	display: none;
    }
}

/* phone input css*/
.intl-tel-input .country-list{
	z-index: 4 !important;
}
