/*======= index.html =======*/

#page1 .line-ver-1 {background-position: 326px 0%;}
#page1 .line-ver-2 {background-position: 653px 0%;}
#page1 .row-1 .col-1 {width: 281px; padding: 0 20px 0 0;}
#page1 .row-1 .col-2 {width: 283px; padding: 0 20px 0 24px;}
#page1 .row-1 .col-3 {width: 272px; padding: 0 0 0 28px;}

#page1 .row-2 .col-1 {width: 560px; padding: 0 54px 0 0;}
#page1 .row-2 .col-2 {width: 301px;}

/*======= index-1.html =======*/

#page2 .col-1 {width: 597px; padding: 0 49px 0 0;}
#page2 .col-2 {width: 284px; padding: 39px 50px 0 0;}

#page2 .col-1 .block-1 {width: 246px; padding: 0 60px 18px 0;}
#page2 .col-1 .block-2 {width: 250px; padding: 0 0 18px 0;}

/*======= index-2.html =======*/

#page3 .line-ver-1 {background-position: 326px 0%;}
#page3 .row-1 .col-1 {width: 281px; padding: 0 20px 0 0;}
#page3 .row-1 .col-2 {width: 579px; padding: 0 20px 0 28px;}

#page3 .row-2 .col-1 {width: 260px; padding: 0 56px 0 0;}
#page3 .row-2 .col-2 {width: 599px;}

/*======= index-3.html =======*/

#page4 .line-ver-1 {background-position: 326px 0%;}
#page4 .line-ver-2 {background-position: 653px 0%;}
#page4 .row-1 .col-1 {width: 281px; padding: 0 20px 0 0;}
#page4 .row-1 .col-2 {width: 280px; padding: 0 20px 0 27px;}
#page4 .row-1 .col-3 {width: 272px; padding: 0 0 0 28px;}

#page4 .row-2 .col-1 {width: 560px; padding: 0 54px 0 0;}
#page4 .row-2 .col-2 {width: 301px;}

/*======= index-4.html =======*/

#page5 .col-1 {width: 597px; padding: 0 49px 0 0;}
#page5 .col-2 {width: 284px; padding: 39px 50px 0 0;}

/*======= index-5.html =======*/

#page6 .col-1 {width: 248px; padding: 39px 42px 0 36px;}
#page6 .col-2 {width: 654px; padding: 0 0 0 0;}

#page6 .col-2 .block-1 {width: 256px; padding: 4px 60px 8px 0;}
#page6 .col-2 .block-2 {width: 260px; padding: 4px 0 8px 0;}